USE [db_brighte_eats]
GO
/****** Object:  Table [dbo].[Lead]    Script Date: 12/08/2025 2:23:39 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lead](
	[LeadId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Mobile] [nvarchar](20) NOT NULL,
	[Postcode] [nvarchar](10) NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[LeadId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeadService]    Script Date: 12/08/2025 2:23:39 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeadService](
	[LeadId] [int] NOT NULL,
	[ServiceId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LeadId] ASC,
	[ServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 12/08/2025 2:23:39 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[ServiceId] [int] IDENTITY(1,1) NOT NULL,
	[ServiceName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Lead] ON 

INSERT [dbo].[Lead] ([LeadId], [Name], [Email], [Mobile], [Postcode], [CreatedAt], [UpdatedAt]) VALUES (1, N'Karlo Mina', N'minakarlo20@gmail.com', N'09761805183', N'3015', CAST(N'2025-08-12T01:59:52.7997315' AS DateTime2), CAST(N'2025-08-12T01:59:52.7997315' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Lead] OFF
GO
INSERT [dbo].[LeadService] ([LeadId], [ServiceId]) VALUES (1, 1)
INSERT [dbo].[LeadService] ([LeadId], [ServiceId]) VALUES (1, 2)
INSERT [dbo].[LeadService] ([LeadId], [ServiceId]) VALUES (1, 3)
GO
SET IDENTITY_INSERT [dbo].[Service] ON 

INSERT [dbo].[Service] ([ServiceId], [ServiceName]) VALUES (1, N'delivery')
INSERT [dbo].[Service] ([ServiceId], [ServiceName]) VALUES (3, N'payment')
INSERT [dbo].[Service] ([ServiceId], [ServiceName]) VALUES (2, N'pick-up')
SET IDENTITY_INSERT [dbo].[Service] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Lead_Name]    Script Date: 12/08/2025 2:23:40 am ******/
ALTER TABLE [dbo].[Lead] ADD  CONSTRAINT [UQ_Lead_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Service__A42B5F992878221E]    Script Date: 12/08/2025 2:23:40 am ******/
ALTER TABLE [dbo].[Service] ADD UNIQUE NONCLUSTERED 
(
	[ServiceName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Lead] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Lead] ADD  DEFAULT (sysdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[LeadService]  WITH CHECK ADD FOREIGN KEY([LeadId])
REFERENCES [dbo].[Lead] ([LeadId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LeadService]  WITH CHECK ADD FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Service] ([ServiceId])
ON DELETE CASCADE
GO
